/* ------------------------------------------------ Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------------------------ General */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #191923;
}

.general-sub {
    margin-top: 20px;
}

main {
    min-height: 80vh;
}

hr {
    width: 40vw;
    border: #fafafa solid 2px;
}

/* ------------------------------------------------ Colors */

.bg-color-green {
    background-color: #D3FAD6;
}

.bg-color-white {
    background-color: #fafafa;
}

/* ------------------------------------------------ Header */

#logo-1,
#logo-2 {
    font-size: 1.5rem;
    font-weight: 700;
}

#logo-1 {
    font-family: "Lato", sans-serif;
    color: #51B9F6;
}

#logo-2 {
    color: #1C5E84;
}

.navbar-nav .nav-link {
    text-align: center;
    color: #191923;
    font-weight: 500;
}

/* ------------------------------------------------ Footer */
footer {
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-links li a {
    color: #191923;
    font-size: 1.5rem;
}

.charity-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}

.charity-links li a {
    color: #191923;
    font-size: 0.9rem;
}