/* ------------------------------------------------ Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------------------------ General */

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Lato", sans-serif;
}

/* ------------------------------------------------ Colors */

.bg-color-green {
    background-color: #D3FAD6;
}

/* ------------------------------------------------ Header */

#logo-1, #logo-2 {
    font-size: 1.5rem;
    font-weight: 700;
}

#logo-1 {
    font-family: "Lato", sans-serif;
    color: #51B9F6;
}

#logo-2 {
    color: #1C5E84;
}

.navbar-nav .nav-link {
    text-align: center;
    color: #191923;
    font-weight: 500;
}